
.container {
    display: flex;
    height: 100vh;
}

.leftSection,
.rightSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.leftSection {
    background-color: #f98484;
}


.nav{
    display: flex;
}

.logo a{
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.title {
    font-size: 16px;
    color: rgb(48, 63, 128);
    line-height: 17px;
    font-weight: 700;
    font-family: sofia-pro, sans-serif;
    margin-bottom: 20px;
}

.email {
    font-size: 50px;
    line-height: 50px;
    color: white;
    font-weight: 400;
    cursor: pointer;
    font-family: "Playfair Display", serif;
    margin-bottom: 20px;
}

.email:hover{
    color: #263366;
}

.social{
    font-size: 14px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    font-family:sofia-pro, sans-serif ;
    gap: 20px;
}

.social:hover{
  color: red;
}

.rightSection {
    position: relative;
    background-color: #F99797;
}

.toggle {
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .toggle span {
    display: block;
    width: 18px;
    height: 3px;
    background-color: black;
    margin: 2px 0;
  }

.navlinks {
    background-color: #F99797;
    list-style: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.navlinks a{
    text-decoration: none;
}

.navlinks li {
    font-size: 50px;
    color: white;
    line-height: 50px;
    font-family: "Playfair Display", serif;
    margin-bottom: 10px;
}

.navlinks :hover {
    color: #263366;
  }
  

.navlinks .work{
    text-decoration: line-through;
    color: #f98484;
}


 
@media (max-width: 764px) {
    .container {
        flex-direction: column-reverse;
    }

    .contact{
        text-align: center;
        justify-content: center;
    }

    .email {
        font-size: 30px;
        line-height: 30px;
        color: white;
        font-weight: 400;
        cursor: pointer;
        font-family: "Playfair Display", serif;
    }

    .navlinks {
        text-align: center;
        justify-content: center;
    }

    .navlinks li {
        font-size: 30px;
        color: white;
        line-height: 30px;
        font-family: "Playfair Display", serif;
    }
}
